{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="../static/css/home.css">
{% endblock %}

{% block title %} 
    Homepage
{% endblock %}

{% block content %}
    <h1> Accueil</h1>
    


    <h2>Image to predict</h2>
    <img class="img-predict" src="{{url_for('static', filename='images/src/image2.jpg')}}" />

    <h2>Predicted image before our transfert learning </h2>
    <img class="img-predict" src="{{url_for('static', filename='images/src/imagehome.jpg')}}" />

{% endblock %}