{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/home.css">
{% endblock %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
<h1 class="title-page">Foodex</h1>
<div class="separator">
    <p class="description">Welcome to the foodex project !<br>This website allows you to detect ingredients on your images, videos and on your live camera !</p>
</div>
<div class="columnFlex">
    <div class="colum-center">
        <h2 class="title2">Original picture</h2>
        <img class="img-home" src="{{url_for('static', filename='assets/imagehome1.jpg')}}" />
    </div>
    <div class="colum-center">
        <h2 class="animate-title">Predicted picture </h2>
        <img class="img-home" src="{{url_for('static', filename='assets/imagehome2.jpg')}}" />
    </div>
</div>

<div class="row-center ">
    <p>Made by students. SIMPLON</p>
</div>


{% endblock %}