{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/home.css">
{% endblock %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
<h1 class="animate-title"> Perform Your Photo Analysis</h1>
<div class="separator"></div>


<div class="form">
    {% if not form.file.data %}
    <div class="waviy">
        <span style="--i:1">L</span>
        <span style="--i:2">o</span>
        <span style="--i:3">a</span>
        <span style="--i:4">d</span>
        <span style="--i:5">i</span>
        <span style="--i:6">n</span>
        <span style="--i:7">g</span>
        <span style="--i:8">.</span>
    </div>
    {% endif %}

    <br>

    <label class="description" for="file"> Load your picture below : </label>

    <form method="POST" enctype=multipart/form-data>
        {{ form.hidden_tag() }}
        {{form.file }}
        {{form.submit }}
    </form>
</div>

{% if form.file.data %}
<h1 class="animate-title"> Final prediction and score confidence</h1>
<div class="row-center ">
    <div class="column-equal">
        <img class="img-upload" src="{{url_for('static', filename='/images/src/upload/file_upload.jpg')}}" />
    </div>

    <div class="column-equal">
        <p><h2 class="animate-title">Details of predictions : </h2>
            {% for desc in description %}
            {{ desc }}
            {% endfor %}
            <br><br>
        </p>
        <p><h2 class="animate-title">Fun Facts : </h2><br>
        </p>
        <ul>{% for num in counter %}<br>
            <b>{{ unique_class[num] }} </b>
            <li> {{ funfact_text[num] }} </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endif %}

{% endblock %}