{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="../static/css/home.css">
{% endblock %}

{% block title %} 
    Homepage
{% endblock %}

{% block content %}
    <h1> Make your picture prediction </h1>



    <div class="form">
        <label for="file"> Load your picture below : </label> 

        <form method="POST" enctype=multipart/form-data>
            {{ form.hidden_tag() }}

            {{form.file }}

            {{form.submit }}

        </form>
    </div>
        



    {% if form.file.data %}
            <h2>Picture predicted</h2>
            <div class="row-center ">
            <div >
                <img class="img-upload" src="{{url_for('static', filename='yolov5/runs/detect/yolo_foodex/file_upload.jpg')}}" />
            </div>
            <div >
                <p>Details of predictions : {{ description }}<br><br>
                </p>
            </div>
        </div>
    {% endif %}

{% endblock %}