{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/home.css">
{% endblock %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
<h1> Perform your video prediction ! &#128513; </h1>



<div class="form">
    <div class="waviy">
        <span style="--i:1">L</span>
        <span style="--i:2">o</span>
        <span style="--i:3">a</span>
        <span style="--i:4">d</span>
        <span style="--i:5">i</span>
        <span style="--i:6">n</span>
        <span style="--i:7">g</span>
        <span style="--i:8">.</span>
    </div>
    <br>
    <label for="file"> Load your picture below : </label>

    <form method="POST" enctype=multipart/form-data>
        {{ form.hidden_tag() }}
        {{form.file }}
        {{form.submit }}
    </form>
</div>




{% if form.file.data %}
<div class="camera">
    <img src="{{url_for('video_prediction')}}">
</div>
{% endif %}

{% endblock %}